@page
@model Institution.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="card text-black">
    <div class="card-header">
        <h3>Students</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>CI</th>
                    <th>FullName</th>
                    <th>Tutor Cellphone</th>
                    <th>Course</th>
                    <th><a asp-page="Create" class="btn btn-outline-success">Add Student</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8545633</td>
                    <td>Bradd Pitt</td>
                    <td>65498711</td>
                    <td>Kinder A</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a class="btn btn-outline-warning" asp-page="Edit">Edit</a>
                            <a class="btn btn-outline-danger" asp-page="Delete">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Ci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Cellphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].IdProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].IdCourse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cellphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCourse)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdStudent">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdStudent">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdStudent">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@